
ul {
    position: relative;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    font-size: 30px;
    margin: 0 80px;
}

i {
    margin: 0 10px;
}

li {
    color: #fff;
    padding: 25px 15px;
    cursor: pointer;
    box-shadow: #000;
    width: 180px;
    text-align: center;
}


#top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffb74d;
    height: 80px;
}